<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <title>{{title}}</title>
</head>

<body>


    <header>
        <a href="/">
            <img class="icon logo" src="/img/logo.svg" alt="logo">
            <p class="header">Andrew's Bakery</p>
        </a>
    </header>


    <nav>
        <a class="{{#if homeActive}}active{{/if}}" href="/">
            <li>Home</li>
        </a>
        <a class="{{#if productsActive}}active{{/if}}" href="/products">
            <li>Products</li>
        </a>
        <a id="register-button">
            <li>Register</li>
        </a>
        <a id="login-button">
            <li>Login</li>
        </a>
    </nav>

    <div class="form">
        <section class="login hidden backdrop"  >
            <form action="/" method="POST" id="login">
                <label for="">Username <br><input type="text" name="username" required></label>
                <br>
                <label for="">Password <br><input type="password" name="password" required></label>
                <br>
                <div class="error"></div>
                <input type="submit" value="Login">
            </form>
        </section>


        <section class="register hidden backdrop">

            <form action="/" method="POST" id="register">
                <label for="username">Username</label>
                <input type="text" name="username" required>
                <label for="password">Password</label>
                <input type="password" name="password" required>
                <label for="passwordAgain">Password Again</label>
                <input type="password" name="passwordAgain" required>
                <label for="email">Email</label>
                <input type="email" name="email" required>
                <label for="phone">Phone number </label>
                <input type="tel" name="phone">
                <div class="error"></div>
                <input type="submit" value="Sign up">
            </form>
        </section>
    </div>

    <main>
        {{{body}}}
    </main>
    <footer>
        <section class="media">
            <a href="https://github.com/Andrewnt219" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.facebook.com/phong.nguyentuan.108" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/andrewnt219/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </section>

        <section class="term">
            <p>© 2020 Tuan Phong Nguyen. All rights reserved</p>
            <p>Terms and conditions, features, support, pricing, and service options subject to change without notice.
            </p>
            <p>By accessing and using this page you agree to the <a href="/terms-and-condition">Terms and
                    Conditions.</a>
            </p>
            <li><a href="/legal">Legal</a></li>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/security">Security</a></li>
            <li><a href="/accessibility">Accessibility</a></li>
        </section>

        <section class="source">
            Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
                href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> <br>
            Banner by Walmart because I can't find another decent banner <br>
            Photo by Dennis Klein on Unsplash <br>
            Photo by Cristina Matos-Albers on Unsplash <br>
            Photo by Sergio Arze on Unsplash <br>
            Photo by Flavio Shibata on Unsplash <br>
            Photo by cindy fernandez on Unsplash <br>
            Photo by iso topon on Unsplash <br>
            Photo by Yoonji kim on Unsplash <br>
            Photo by Danil Aksenov on Unsplash <br>
            Photo by Hayley Maxwell on Unsplash <br>
            Photo by Madeline Tallman on Unsplash <br>
            Photo by Joshua Moussa on Unsplash <br>
            Photo by Ishan @seefromthesky on Unsplash <br>
            Photo by Tomasz Pikus on Unsplash <br>
            Photo by Cristina Matos-Albers on Unsplash <br>
            Photo by Anthony Rosset on Unsplash <br>
            Photo by Gary Moreton-jones on Unsplash <br>
            Photo by Nickie Joseph on Unsplash <br>
            Photo by peanut butter on Unsplash <br>
            Photo by Alana Harris on Unsplash <br>
            Photo by Cozinha à la Carte on Unsplash <br>
            Photo by Alexandra Kusper on Unsplash <br>
            Photo by Sergio Arze on Unsplash <br>
            Photo by Louis Hansel @shotsoflouis on Unsplash <br>
            Photo by Sorasak on Unsplash <br>
            Photo by Foto T on Unsplash <br>
            Photo by Flavio Shibata on Unsplash <br>

        </section>
    </footer>
</body>
<script src="https://kit.fontawesome.com/22ac762fe5.js" crossorigin="anonymous"></script>
<script src="/functions/utilities.js"></script>

</html>