

<section class="products">
    <h1>{{category}}</h1>
</section>

{{!-- Insert Register and Login through variable --}}
{{!-- Change category base on received variable, so I have to have a product page template and then just dynamically insert data --}}